@model StatsViewModel

@{
	ViewData["Title"] = "Get Stats";
}

<h2>@Model.Username's Stats</h2>

<table>
    <thead>
        <tr>
            <th>Wins</th>
            <th>Losses</th>
            <th>WinRate</th
            <th>Damage</th>
            <th>Headshot %</th>
            <th>Rounds Played</th>
            <th>Rounds Won</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Wins</td>
            <td>@Model.Losses</td>
            <td>@Model.WinRate</td>
            <td>@Model.Damage</td>
            <td>@Model.HeadShotPercent</td>
            <td>@Model.RoundsPlayed</td>
            <td>@Model.RoundsWon</td>

        </tr>
    </tbody>
</table>